body{
    background-color: #141414;
    color: white;
}

nav{
    background-color: #141414;
}

#logo{
    width: 100px;
    height: 20px;
    object-fit: cover;
}

nav#home li a {
    color: white;
}

.nav-link.dropdown-toggle img{
    width: 25px;
    height: 25px;
    object-fit: cover;
}

#dropdown-user{
    left: -145px;
}

#display-op{
    border: 1px solid white;
    width: 60px;
    height: 25px;
    padding-inline: 6px; 
}

#divider-op{
    border-right: 1px solid white;
    padding-right: 10px;
}

.list-icon{
    padding-block: 2px;
}

#genre-op{
    background-color: black;
    border-radius: 0;
    padding: 3px 10px;
    border-width: 2px;
    font-weight: bold;
}

.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-control-prev{
    width: 5%;
    left: -5%;
}

.carousel-control-next{
    width: 5%;
    right: -5%;
}

footer{
    padding-inline: 25%;
    color: gray;
    font-size: 12px;
}

footer ion-icon{
    font-size: 30px;
}

#code-btn{
    border: 1px solid gray;
    width: 85px;
    height: 25px;
    padding: 3px;
}

.card{
    border: none;
    background-color: #141414;
    color: white;
}

.card-body{
    height: 0;
    padding: 0;
    overflow: hidden;
}


.card:hover{
    transform: scale(1.3);
    transition: 0.3s ease-in-out;
    z-index: 2;
}

.card:hover .card-body{
    height: auto;
    padding: 10px;
    border: 1px solid gray;
    transition: 0.3s;
}



@media screen and (max-width: 991px) {
    #dropdown-user{
        left: 0;
    }
}

@media screen and (max-width: 767px){
.carousel-control-prev{
    width: 2%;
    left: -3%;
}

.carousel-control-next{
    width: 2%;
    right: -3%;
}
}